body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #161b22;
  padding: 20px;
}

.sidebar h2 {
  color: #ff7b00;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a:hover {
  color: #ff7b00;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 40px;
  bottom: 75px;
  width: 2px;
  background-color: white;
}

.main {
  margin-left: 240px;
  padding: 30px;
}

.card {
  background-color: #161b22;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.card a {
  color: #ff7b00;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.card a:hover {
  color: #ffa657;
}

.card a:active {
  color: #ffb366;
}

.card:hover {
  background-color: #21262d;
  transform: scale(1.05);
  cursor: pointer;
}

.team {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.member {
  text-align: center;
}

.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}